<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="login.css" th:href="@{/css/login.css}">
	<title>
		CS1_Login
	</title>
</head>
<body>
	<form th:action="@{/}" id="login_form" method="post">
		<div id="center">

			<div id="logo_tb">
				<p id="logo">MINT</p>
			</div>

			<div id="user_name_tb">
				<input spellcheck="false" type="text" id="user_name" name="username" placeholder="Name">
			</div>

			<div id="user_pass_tb">
				<input spellcheck="false" type="password" id="user_pass" name="password" placeholder="Password">
			</div>

			<input type="submit" id="login_btn" value="LOGIN">

			<p id="or">OR</p>

			<input type="button" id="login_register_btn" value="REGISTER" onclick="location.href='/register'">

		</div>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/login.js" th:src="@{/js/login.js}"></script>
</html>