<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link href="/css/edit.css" th:href="@{/css/edit.css}" rel="stylesheet"></link>
	<title>
		CS1_Edit
	</title>
</head>
<body>
	<form enctype="multipart/form-data" id="edit_form" th:action="@{/logout}" method="post">
	<header>
		<div id="hed">
			<input type="button" id="fileopen_btn" onclick="location.href='/openfile_editor'" value="OPEN">
			<input type="button" id="new_btn" value="NEW" onclick="location.href='edit'">
			<input type="button" id="save_btn" value="SAVE" onclick="upload_edit();">
			<input type="submit" id="logout_btn" value="LOGOUT">
		</div>
	</header>
		<div id="parent">
		<div id="left-side">
			<div id="ex_name_tb">
				<input spellcheck="false" type="text" id="ex_name">
			</div>
			<div id="circuit_image" ondragover="search(event);" ondrop="droping(event)">
				<input type="file" name="file" id="thumb" src="" alt="画像をドラッグ＆ドロップ"  title="circuit"/>
			</div>
			<div id="comment">
				<textarea spellcheck="false" name="com" id="ex_comment" wrap="hard" cols="70"></textarea>
			</div>
		</div>
		<div id="right-side">
			<div id="special_box" class="0">
				式の編集を開始します
				<input type='button' id='start' value='start' onclick='progress();'>
			</div>
		</div>
	</div>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/edit.js" th:src="@{/js/edit.js}"></script>
</html>