<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>print_database</title>
</head>
<body>
<form th:action="@{/choosefile}" id="exlist_form" method="post">
	<p th:text="${id}">前回のメッセージ</p>
	<input type="submit" id="fileopen" value="OPEN"/>
	<p>例題データ表示中</p>
	<table>
    <tr th:each="data : ${allexDataList}" th:object="${data}">
      <td th:text="*{id}"></td>
      <td th:text="*{username}"></td>
      <td th:text="*{name}"></td>
      <td><a th:href="@{/user/{id}(id=*{id})}">open</a></td>
    </tr>
  </table>
  <p>データ表示中</p>
	<table>
    <tr th:each="data : ${exDataId}" th:object="${data}">
      <td th:text="*{id}"></td>
      <td th:text="*{username}"></td>
      <td th:text="*{name}"></td>
    </tr>
  </table>
  </form>
</body>
</html>