<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Choose file</title>
</head>
<body>
<table>
    <thead>
      <tr>
      	<th>ID</th>
        <th>Made by</th>
        <th>Name</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
        <tr th:each="data : ${exlist}" th:object="${data}">
            <td class="center" th:text="*{id}"></td>
            <td class="center" th:text="*{username}"></td>
            <td class="center" th:text="*{name}"></td>
            <td class="center"><a th:href="@{/openfile/{id}(id=*{id})}">OPEN</a></td>
        </tr>
      </tbody>
  </table>
</body>
</html>