<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/register.css" th:href="@{/css/register.css}">
	<title>
		CS1_Register
	</title>
</head>
<body>
	<form th:action="@{/register}" th:object="${registerForm}" method="POST" id="register_form">
			<div id="center">
				<p id="name_txt">Name</p>

				<div id="user_name_tb">
					<input spellcheck="false" type="text" name="username" id="user_name" autocomplete="off">
				</div>

				<p id="password_txt">Password</p>
				<div id="user_pass_tb">
					<input spellcheck="false" type="password" name="password" id="user_pass" autocomplete="off">
				</div>
				<div id="role_check_tb">
					<input type="checkbox" name="editorcheck" value="true">
				</div>
				<input type="submit" id="register_btn" value="REGISTER" >
			</div>
	</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/register.js" th:src="@{/js/register.js}"></script>
</html>