<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/start.css" th:href="@{/css/start.css}" rel="stylesheet"></link>
<title>Ready to start</title>
</head>
<body>
	<div id="parent">
		<div id="left_side">
			<p id="if_editor">If you login as Editor</p>
			<input type="button" id="editmode_btn" onclick="location.href='/edit'" value="Start editing.">
		</div>
		<div id="right_side">
			<p id="if_learner">If you login as Learner</p>
			<input type="button" id="learnmode_btn" onclick="location.href='/openfile'" value="Start learning.">
		</div>
	</div>
</body>
</html>